.DS_Store
os_arch.txt
utils/deps/arm64/
utils/deps/arm64e/
utils/deps/macos_arm64/
utils/deps/macos_arm64e/
utils/deps/macos_i386/
utils/deps/macos_x86_64/
utils/deps/macos_x86_64h/

utils/deps/aarch64/
utils/deps/linux_aarch64/
utils/deps/x86_64/
utils/deps/linux_x86_64/

utils/deps/windows_amd64/
utils/deps/windows_arm64/

utils/deps/src/
utils/**/b/
utils/**/cmake-build-relwithdebinfo/
utils/**/cmake-build-debug/
utils/**/cmake-build-release/

.idea
.vscode
logs/




